@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')

$turquoise-blue: #40E0D0
$poppins-font: 'Poppins', sans-serif

*
  box-sizing: border-box
  padding: 0
  margin: 0
  background-color: black
  color: white
  font-family: $poppins-font
  text-decoration: none
  font-size: 1.15rem

body
  width: 80%
  margin: auto

header
  display: flex
  justify-content: space-between
  align-items: center
  padding: 10px 0px
  width: 100%
  margin: auto
  padding: 2.5rem 1rem

.nav-links
  li
    display: inline-block
    color: whitesmoke
    padding: 0px 10px 0px 10px

.nav-links
  li
    a
      transition: all 0.3s ease 0s

#main-title
  color: $turquoise-blue
  font-weight: bold
  font-size: 1.5rem

.menu-items
  a
    transition: all 0.3s ease 0s

    &:hover
        color: $turquoise-blue
        border-bottom: 0.3rem solid $turquoise-blue

#introduction
  height: 80vh
  text-align: center
  display: flex
  justify-content: center
  align-items: center


.turq-color
  color: $turquoise-blue

#intros
  text-align: left
  width: 100%
  
#intros
  p, span
    font-size: 4.5rem

#intros
  span
    font-weight: bold

#intros
  .small-size
    font-size: 2rem