$turquoise-blue: #40E0D0
$light-gray: rgba(255, 255, 255, 0.1)
    
#repo-details
    width: 100%

#repo-details
    tr
        td, th
            text-align: left
            margin: 5px

#repo-details
    tbody
        tr:nth-child(even)
            background-color: $light-gray
            border-right: 1px solid $light-gray

#repo-details
    thead
        th
            color: $turquoise-blue

#disclaimer, #hc-link a
    font-size: 0.75rem
    text-align: center
    margin-bottom: 20px

#hc-link a
    color: $turquoise-blue
    font-weight: bold