$turquoise-blue: #40E0D0
$light-gray: rgba(255, 255, 255, 0.1)

#disclaimer,
#hc-link a
    font-size: 0.75rem
    text-align: center
    margin-bottom: 20px

#disclaimer a
    color: $turquoise-blue

.card-container
    display: flex
    flex-wrap: wrap
    justify-content: space-between

.card
    flex-basis: calc(50% - 10px)
    margin-bottom: 10px
    padding: 10px
    background-color: $light-gray

    &-heading
        font-size: 24px
        margin-bottom: 10px

    &-description
        font-size: 16px
        margin-bottom: 20px

    &-images
        margin-right: 10px

    &-images img
        width: 100px
        height: 100px
        margin-right: 5px

    &-images img
        width: 7%
