@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')

$turquoise-blue: #40E0D0
$poppins-font: 'Poppins', sans-serif
$light-gray: rgba(255, 255, 255, 0.1)

// html, body, *

*
  box-sizing: border-box
  padding: 0
  margin: 0
  color: white
  font-family: $poppins-font
  text-decoration: none
  font-size: 1.15rem

body
  width: 80%
  margin: auto
  background-color: black

// navbar

// Introduction

#introduction
  margin-top: 60px
  height: 70vh
  display: flex
  text-align: left
  align-items: center

#introduction
  p
    color: whitesmoke

.intro
  display: block

.small-size
  font-size: 1rem

.turq-blue
  font-size: 5rem
  text-shadow: -5px 0px 1px $turquoise-blue

.small-about-me
  width: 75%

// link buttons

.link-btns
  text-align: left
  margin-top: 10px
  margin-bottom: 50px

.link-btns
  a
    padding: 10px 30px
    margin: 10px
    border: 1px solid $turquoise-blue
    border-radius: 5px
    background-color: black
    box-sizing: border-box
    font-weight: 500
    color: white
    transition: all 0.3s ease 0s

.link-btns
  a:hover
    background-color: black
    color: $turquoise-blue
    border: 1px solid white
    box-shadow: 5px 8px $turquoise-blue

// hr lines templates

.section-separator
  color: $turquoise-blue
  margin: 30px

.title-separator
  color: $turquoise-blue
  margin: 0px auto 20px auto
  width: 50%

// title templates

#section-title
  text-align: center
  margin-top: 100px

.title
  font-size: 3.5rem
  font-weight: bold
  color: white
  position: relative

.about-me-text
  width: 75%
  margin: auto