$orange: #ffbd39
    
.card-heading
    font-weight: bold


.location, .card-description li
    font-size: 1rem
    margin-bottom: 10px

.location
    color: $orange

.card-container-2
    .card-heading
        font-size: 1.25rem