$footer-bg-color: #000
$footer-padding: 20px

$light-gray: rgba(#fff, 0.1)
$turquoise-blue: #00f5d0

.footer
    padding: $footer-padding
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-top: 100px
    border-top: 2px solid $turquoise-blue

.location,
.quick-links,
.social-media
    margin-bottom: 10px

a
    transition: all 0.3s ease 0s
    font-size: 1rem
    &:hover
        color: $turquoise-blue
        border-bottom: 0.3rem solid $turquoise-blue

ul
    list-style-type: none
    padding: 0

    li
        margin-bottom: 5px

    a
        text-decoration: none
        font-size: 1rem

.social-media li
    display: inline-block

.footer-note
    text-align: center
    margin-bottom: 15px
    p
        font-size: 0.75rem
        padding: 10px
    span
        font-size: 0.75rem
    a
        font-size: 0.75rem
        color: $turquoise-blue
        border: none

.footer-links
    font-weight: bold
    text-decoration: none
    transition: all 0.3s ease 0s
    font-size: 2rem
    &:hover
        border-bottom: 0.3rem solid $turquoise-blue