
$turquoise-blue: #00f5d0

.navigation-bar
    background-color: black

.navbar-brand
    color: $turquoise-blue
    font-weight: bold
    font-style: italic
    transition: all 0.3s ease 0s
    font-size:30px

    &:hover
        color: white
        border: none

.nav-link
    color: white
    transition: all 0.3s ease 0s
    font-size: 18px

    &:hover
        color: $turquoise-blue
        border: none

.resume-btn
    color: black
    background-color: $turquoise-blue
    font-weight: bold
    transition: all 0.3s ease 0s
    font-size: 18px

    &:hover
        box-shadow: 5px 5px $turquoise-blue
        border: 1px solid $turquoise-blue

.navbar-nav a
    color: white
