$orange: #ffbd39

header
    display: flex
    justify-content: space-between
    align-items: center
    width: 80%
    margin: auto
    padding: 2.5rem 1rem
    background-color: black
    height: 10vh
    z-index: 1
    position: fixed
    top: 0

.nav-links li
    display: inline-block
    color: whitesmoke
    padding: 0 10px

.nav-links li a
    transition: all 0.3s ease 0s

#main-title
    color: $orange
    font-weight: bold
    font-size: 1.5rem
    font-style: italic
    transition: color 0.3s ease 0s

#main-title:hover
    color: white
    border-bottom: none

.menu-items a
    transition: color 0.3s ease 0s, border-bottom 0.3s ease 0s

.menu-items a:hover
    color: $orange
    border-bottom: 0.3rem solid $orange

#resume-btn
    padding: 3px 10px
    background-color: $orange
    border: 2px solid $orange
    border-radius: 5px
    a
        color: black
        font-weight: 600
        &:hover
            color: white
            border: none
    &:hover
        background-color: black
        a
            color: white
