$turquoise-blue: #40E0D0
$orange: #ffbd39
$light-gray: rgba(255, 255, 255, 0.1)

#disclaimer,
#hc-link a
    font-size: 0.85rem
    text-align: center
    margin-bottom: 20px

#disclaimer a
    color: $orange
    font-weight: bold
    transition: all 0.3s ease 0s

    &:hover
        border-bottom: 0.3rem solid $orange

.card-container
    display: flex
    flex-wrap: wrap
    justify-content: space-between

.card
    height: 200px
    flex-basis: calc(50% - 10px)
    margin-bottom: 10px
    padding: 10px
    background-color: $light-gray
    position: relative

    &-heading
        a, h2
            font-size: 1.25rem
            color: $orange

    &-description
        font-size: 0.85rem
        margin-bottom: 20px

    &-images
        position: absolute
        bottom: 10px
        left: 10px
        display: flex
        align-items: center
        margin-right: 10px

    &-images img
        width: 40px
        height: 40px
        margin-right: 5px
        object-fit: cover

.heading-container
    display: flex
    align-items: center
    margin-bottom: 10px

.card-heading
    flex-grow: 1
    margin-right: 10px

    a
        transition: all 0.3s ease 0s
        font-weight: 600

        &:hover
            color: $orange
            border-bottom: 0.3rem solid $orange

    h2
        font-weight: 600

.year
    margin-right: 10px
    color: $orange
    font-weight: 700

.external-link
    width: 4.5%
