$inter-font: 'Inter', sans-serif
$light-gray: rgba(255, 255, 255, 0.1)
$turquoise-blue: #00f5d0

*,
*::before,
*::after
  box-sizing: border-box
  padding: 0
  margin: 0
  font-weight: 400

:root
  scroll-behavior: slow

html,
body,
*
  color: white
  font-family: $inter-font
  text-decoration: none
  font-size: 1.25rem
  scroll-behavior: slow

body
  width: 80%
  margin: auto
  background-color: black

// hr lines templates

.section-separator,
.title-separator
  color: $turquoise-blue
  margin: auto
  margin-bottom: 20px

.title-separator
  width: 50%

// title templates

#section-title
  text-align: center
  margin-top: 35px

.title
  font-size: 3.5rem
  font-weight: bold
  color: white
  position: relative

.about-me-text
  width: 75%
  margin: auto

.get-in-touch
  margin-top: 75px
  font-weight: 800
  span
    a
      color: $turquoise-blue
      font-weight: 600

@media only screen and (max-width: 600px)
  .title
    font-size: 2rem
